table, th, td {
	margin: auto;
	border: 3px solid black;
	padding: 5px;
	border-collapse: collapse;
}

td {
	background-color: beige;
	color: navy;
}

tr, th {
	background-color: darkorange;
	color: navy;
}

td:hover {
	background-color: hotpink;
	color: black;
}